<h3>Case Docket</h3>
<table class="table table-bordered" id="Case_Table">		
	<thead>
		<tr class="active" style="background-color: #CDFFE6">
			<td style="font-size: 14px"><strong>Case ID </strong></td>
			<td style="font-size: 14px"><strong>Status</strong></td>
			<td style="font-size: 14px"><strong>Issue Date</strong></td>
			<td style="font-size: 14px"><strong>Patient</strong></td>
			<td style="font-size: 14px"><strong>Household</strong></td>
			<td style="font-size: 14px"><strong>Syndromes List</strong></td>
			<td style="font-size: 14px"><strong>Urgency</strong></td>
			<td style="font-size: 14px"><strong>Appointment</strong></td>
			<td style="font-size: 14px"><strong>Contact Info</strong></td>
		</tr>
	</thead>

	<% @cases.each do |event| %>
	
	<tbody>
		<tr>
			<% link = event.id %>
			<td><%= link_to event.id, case_path(link)%></td>
			<td><%= event.status %></td> 
			<td><%= event.created_at %></td>
			<td><%= event.patient.first_name %></td> 
			<td><%= event.patient.household.name %></td>
			<% link = event.syndrome_ids %>
			<td><%= event.syndromes.map{|wl| link_to wl.name, syndrome_path(link)}.join(', ').html_safe %></td>
			<td><%= event.urgency_level %></td>
			<td><%= event.appointment %></td>
			<td><%= event.sender %></td> 
		</tr>
	<% end %>
	</tbody>
</table> 


