<h2><em>Case Id <%=@case.id %></em></h2>
  <div class="panel-heading">
    <h3 class="panel-title"><%= @case.patient.first_name%> <%= @case.patient.last_name%></h3> 
  </div>

   <div class="panel-body">
        <div> 
          <img alt="User Pic" src="http://i.imgur.com/K7Um3.png" class="img-circle">
        </div>

        <br>
        
        <table class="table table-bordered">
            <tbody>
                <tr>
                  <td style="font-size: 14px"><strong>Household</strong></td>
                  <td style="font-size: 14px"><%=@case.patient.household.name%></td>
                </tr>

                <tr>
                  <td style="font-size: 14px"><strong>Time Reported</strong></td>
                  <td style="font-size: 14px"><%=@case.created_at.in_time_zone("Pacific Time (US & Canada)")%></td>
                </tr>
                <tr>
                  <td style="font-size: 14px"><strong>Reported Health Events</strong></td>
                  <% link = @case.syndrome_ids %>
                  <td style="font-size: 14px"><%= @case.syndromes.map{|wl| link_to wl.name, syndrome_path(link)}.join(', ').html_safe %></td>
                </tr>
                <tr>
                  <td style="font-size: 14px"><strong>Sent Images</strong></td>
                  <td><img alt="Diarrhea" src="http://www.clearfection.com/wp-content/uploads/2013/06/Diarrhea-150x150.jpg" class="img-rounded"> 
                    <img alt="Fever" src="http://longevitywellnessclinic.com/wp-content/uploads/2014/05/gbhead-e1401383447243-150x150.jpg" class="img-rounded">
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 14px"><strong>Location</strong></td>
                  <td style="font-size: 14px"><em>Geographic Location<em></td>
                </tr>
                <tr>
                  <td style="font-size: 14px"><strong>Contact Info</strong></td>
                  <td style="font-size: 14px"><%= @case.sender %></td>
                </tr>
                <tr>
                  <td style="font-size: 14px"><strong>Urgency Level</strong></td>
                  <td style= "font-size: 14px"><%= @case.urgency_level %></td>
                </tr>
                <tr>
                  <td style="font-size: 14px"><strong>Notes</strong></td>
                  <td style="font-size: 12px"><%= @case.notes %></td>
                </tr>    
            </tbody>
      </table>