<h3>Patient List</h3>
<table class="table table-bordered" id="Patient_Table">
	<thead>
		<tr style="background-color: #CDFFE6">
			<td style="font-size: 14px"><strong>Picture ID</strong></td>
			<td style="font-size: 14px"><strong>First Name</strong></td>
			<td style="font-size: 14px"><strong>Last Name</strong></td>
			<td style="font-size: 14px"><strong>Sex</strong></td>
			<td style="font-size: 14px"><strong>Age</strong></td>
			<td style="font-size: 14px"><strong>Household</strong></td>
			<td style="font-size: 14px"><strong>Language</strong></td>
			<td style="font-size: 14px"><strong>Medication</strong></td>
			<td style="font-size: 14px"><strong>Conditions</strong></td>
		</tr>
	</thead>

	<% @patients.each do |patient| %>

	<tbody>
		<tr>
			<td><%= 'Image Placeholder' %></td> 
			<td><%= patient.first_name %></td> 
			<td><%= patient.last_name %></td>
			<td><%= patient.sex %></td> 
			<td><%= patient.age %></td> 
			<td><%= patient.household.name %></td>
			<td><%= patient.language %></td>
			<td><%= patient.medication %></td>
			<td><%= patient.conditions %></td>
		</tr>
	<% end %>
	</tbody>
</table> 

