<h1>Quick Health Advisor Homepage</h1>

<h3><%= link_to "+ Register New Patient", new_patient_path %></h3>

<%= form_tag patients_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<%= render 'patienttable' %>
