<h2>Patients</h2>

<%= form_tag patients_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<%= render 'patienttable' %>

<%= button_to "Register Patient", new_patient_path, :id => 'patient', :class=> "btn btn-primary", :method => :get %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>