<h3>Syndrome List</h3>
<table class="table table-bordered" id="Syndrome_Table">
	<thead>
		<tr style="background-color: #CDFFE6">
			<td style="font-size: 14px"><strong>Name</strong></td>
			<td style="font-size: 14px"><strong>Code</strong></td>
			<td style="font-size: 14px"><strong>Description</strong></td>
			<td style="font-size: 14px"><strong>Score</strong></td>
			<td style="font-size: 14px"><strong>Health Instructions</strong></td>
		</tr>
	</thead>

	<% @syndromes.each do |syndrome| %>

	<tbody>
		<tr>
			<td><%= syndrome.name %></td> 
			<td><%= syndrome.text_code %></td>
			<td><%= syndrome.description %></td> 
			<td><%= syndrome.severity_score %></td> 
			<td><%= syndrome.health_instruction %></td>
		</tr>
	<% end %>
	</tbody>
</table> 
