<h3>Syndrome List</h3>
<table class="table table-striped" id="Syndrome_Table">
	<thead>
		<tr>
			<td style="font-size: 20px"><strong>Image</strong></td>
			<td style="font-size: 20px"><strong>Syndrome Name</strong></td>
			<td style="font-size: 20px"><strong>Text Code</strong></td>
			<td style="font-size: 20px"><strong>Description</strong></td>
			<td style="font-size: 20px"><strong>Severity Score</strong></td>
			<td style="font-size: 20px"><strong>Health Instructions</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= 'Image Placeholder' %></td> 
			<td><%= @syndrome.name %></td> 
			<td><%= @syndrome.text_code %></td>
			<td><%= @syndrome.description %></td> 
			<td><%= @syndrome.severity_score %></td> 
			<td><%= @syndrome.health_instruction %></td>
		</tr>
	</tbody>
</table> 

<br>

<%= link_to "Edit", edit_syndrome_path(@syndrome) %>