<h2>Households</h2>
<%= form_tag households_path, method: "GET" do %>
  		<%= text_field_tag :search, params[:search] %>
  		<%= submit_tag "Search" %>
<% end %>

<%= render 'householdtable' %>

<%= button_to "Add Household", new_household_path, :id => 'household', :class=> "btn btn-primary", :method => :get %>
  