<h1>Household List</h1>

<table class="table table-striped" id="Household_Table">
	<thead>
		<tr>
			<td style="font-size: 20px"><strong>Name</strong></td>
			<td style="font-size: 20px"><strong>Mobile Number</strong></td>
			<td style="font-size: 20px"><strong>Email Address</strong></td>
			<td style="font-size: 20px"><strong>Household Members</strong></td>
			<td style="font-size: 20px"><strong>Language</strong></td>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td><%= @household.name %></td> 
			<td><%= @household.mobile_number %></td>
			<td><%= @household.email %></td> 
			<% link = @household.patient_ids %>
			<td><%= @household.patients.map{|wl| link_to wl.first_name, patient_path(link)}.join(', ').html_safe %></td>
			<td><%= 'Household Language' %></td>
		</tr>
	</tbody>
</table> 


<%= link_to "Edit", edit_household_path(@household) %>
